body {
  font-family: Arial, Helvetica, sans-serif;
}

.menu {
  background-color: #ff948f57;
}

#navbarSite a:hover, li:hover {
  box-shadow: 0px 8px 15px hsl(3, 100%, 78%, 0.34);
  cursor: pointer;
}

#nav-menu {
  border-bottom: 5px solid hsl(3, 100%, 78%, 0.34);
}

#nav-menu {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.borda-top {
  border-top: 15px solid rgb(255, 210, 0);
}

.funcion {
  background-color: hsl(3, 100%, 78%, 0.34);
  padding-top: 0.3%;
}

.textosobre {
  -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
  box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
  border-radius: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0 auto;
}

#sobre {
  background-color: #ffd200;
  padding-top: 3%;
  margin-top: 0.1%;
}

#psobre {
  font-size: 18px;
}

#imgsobre {
  margin: 0 auto;
}

/*-------LOGIN--------*/

#divlogin {
  display: flex;
  background-color: rgb(247, 241, 241);
  visibility: visible;
  opacity: 1;
  flex-direction: column;
  position: fixed;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 3%;
  padding-bottom: 3%;
  max-width: 400px;
  z-index: 1000;
  border-radius: 8px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.divlogin2 {
  position: absolute;
  right: 0%;
  top: 5%;
  cursor: pointer;
}

.xfechar {
  position: relative;
  display: block;
  width: 35px;
  margin-bottom: 2%;
}

.xfechar span {
  display: block;
  position: absolute;
  opacity: 1;
  transition: all 0.3s ease 0s;
  width: 55%;
  height: 6px;
  border-radius: 8px;
  background-color: rgb(255, 210, 0);
}

.xfechar span:nth-child(1) {
  transform: rotate(-45deg);
  left: 0%;
}

.xfechar span:nth-child(2) {
  transform: rotate(45deg);
  left: 0%;
}

.plogin {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  text-align: center;
  max-width: 400px;
  width: 100%;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

input {
  border-radius: 0% 1% 1% 0%;
  touch-action: manipulation;
}

.classinput {
  width: 100%;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  line-height: inherit;
  font-family: inherit;
  margin-top: 3%;
  margin-bottom: 5%;
  padding: 5%;
  height: 2.8rem;
  border: 1px solid rgb(255, 210, 0);
  border-radius: 8px;
  background-color: white;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.buttonlogin {
  color: white;
  background-color: rgb(255, 210, 0);
  text-align: center;
  border: 1px solid rgb(255, 210, 0);
  border-radius: 6px;
  padding: 3.5% 7%;
  font-size: 16px;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
}

.pesquecisenha {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  text-decoration: underline;
  padding-top: 3%;
}

.linkcadastro {
  color: white;
  background-color: rgb(255, 210, 0);
  text-align: center;
  border: 1px solid rgb(255, 210, 0);
  border-radius: 6px;
  padding: 3.5% 7%;
  font-size: 18px;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  width: 100%;
}

.error {
  color: red;
}