.contextCard {
    height: 100px;
    overflow-y: auto;
}


.context {
    height: 100%;
    padding-bottom: 30px;
}

div.context_box {
    height: 480px;
    padding-bottom: 30px;
}
div.context_box_children {
    height: 100%;
}

